In [6]:
import pandas as pd

data = {"Timestamp": ['5/3/2023 19:42:22', '5/3/2023 19:42:22', '5/3/2023 19:42:22', '5/3/2023 19:42:22', '5/3/2023 19:42:22', '5/16/2023 19:42:22', '6/7/2023 19:42:22', '5/5/2023 19:42:22', '5/3/2023 19:42:22', '5/4/2023 19:42:22', '5/22/2023 19:42:22', '5/3/2023 19:42:22', '5/3/2023 19:42:22', '6/7/2023 19:42:22', '6/7/2023 19:42:22', 
                      ''],
        "Age": [12, 12, 22],
        "City": ["NY", "San Franc", "Jakarta"]}

df = pd.DataFrame(data)
csv_out = 'class_a.csv'

df.to_csv(csv_out, index=False)

In [5]:
x = pd.read_csv('oi.csv')
x

    Name  Age       City
0  alice   12         NY
1    bob   12  San Franc
2   alex   22    Jakarta